# Heroes of Pymoli Analysis

In [1]:
#Import Modules
import pandas as pd
import numpy as np

In [2]:
#Import CSV file to data frameb
df = pd.read_csv("../Resources/purchase_data.csv", low_memory=False)

# Data Cleaunp

In [3]:
#Check for object types for mix data types.
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
#Convert SN, Gender, Item Name to type string
df["SN"] = df["SN"].astype("string")
df["Gender"] = df["Gender"].astype("string")
df["Item Name"] = df["Item Name"].astype("string")

In [5]:
#Check for Nulls SN
df["SN"].isnull().sum()

0

In [6]:
#Check for Nulls Gender
df["Gender"].isnull().sum()

0

In [7]:
df["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: Int64

In [8]:
df.groupby("Age").agg({"SN":['count'],"Price":['sum']}).head(10)

       SN   Price
    count     sum
Age
7       9   32.89
8       8   25.97
9       6   18.27
10      9   31.83
11      7   18.79
12      6   15.80
13      4    9.45
14      2    6.91
15     35  105.65
16     30   90.56

## Player Count

In [9]:
#Get Undpulicated Screen Name Count
unduplicated_players = df["SN"].unique().value_counts().sum()

unduplicated_players_df = pd.DataFrame(data = {"Player Count":[unduplicated_players]})
unduplicated_players_df

   Player Count
0           576

## Purchasing Analysis

In [10]:
#Get summary purchase statistics
unique_items = len(df["Item ID"].unique())
avg_price = "${:,.2f}".format(df["Price"].mean())
total_purchases = df.count(axis=0)["Purchase ID"]
total_revenue = "${:,.2f}".format(df["Price"].sum())

#Create dictionary
purchase_dict = {"Number of Unique Items":[unique_items],
                 "Average Purchase Price":[avg_price],
                 "Total Number of Purchases":[total_purchases], 
                 "Total Revenue": [total_revenue]}

#Create data frame utilizing above dictionary
purchasing_analysis_df = pd.DataFrame(data=purchase_dict)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

In [61]:
#Create group by with gender as key
df_gender_group = df.groupby(["Gender"])

#Create series of unique gender values
df_gender_series = [ x for x in df["Gender"].unique()]

#Create a list of unique player counts using list comprehension
gender_unique_counts_series = [len(df_gender_group["SN"].unique()[x]) for x in df_gender_series]

#len(df_gender_series)
df_gender_unduplayers = pd.DataFrame(gender_unique_counts_series,df_gender_series,["Gender Total"])

#Total Undup Players
total_player_count = df_gender_unduplayers["Gender Total"].sum()

#Utilize list comprehension to calculate percentage of total.
df_gender_unduplayers["Percentage of Total"] = ["%.2f%%" %x for x in df_gender_unduplayers["Gender Total"] / total_player_count * 100]


df_gender_unduplayers

                       Gender Total Percentage of Total
Male                            484              84.03%
Other / Non-Disclosed            11               1.91%
Female                           81              14.06%

##  Purchasing Analysis

In [12]:
#Create a data frame subtotaling price at gender, screen name grain.
gender_sn_df = df.groupby(["Gender","SN"]).agg({"Price":['sum']}).reset_index()
gender_sn_df.columns = ["Gender","SN","Total Avg"]
gender_sn_df = gender_sn_df.set_index(["Gender"])

#Utilize data frame from last section that is grouped by Gender
gender_purchase_count = df_gender_group["Gender"].count()
gender_avg_purchase_price = df_gender_group["Price"].mean()
gender_total_purchase_value = df_gender_group["Price"].sum()

#Utilize data frame from grouped by gender and screen name.
gender_total_purchsae_per_person = gender_sn_df.groupby(["Gender"])["Total Avg"].mean()



#Create Output Dataframe
gender_stats_df = pd.DataFrame( {"Purchase Count":gender_purchase_count,
                                "Average Purchase Price":gender_avg_purchase_price.map("${:,.2f}".format),
                                "Total Purchase Price":gender_total_purchase_value.map("${:,.2f}".format),
                                "Avg Total Purchase per Person":gender_total_purchsae_per_person.map("${:,.2f}".format)
                                }
                               )

gender_total_purchsae_per_person

gender_stats_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##  Age Demographics

In [64]:
#Initialize lists used for binning.
bins = [0,9]
labels = ["<10"]

#Populate lists utilzing for loop.
for i in range(14,40,5):
    bins.append(i)
    labels.append(str(i - 4) + " to " + str(i))
bins.append(105)
labels.append("40+")

#Create bin category column.
df["Age Category"] = pd.cut(df["Age"],bins,labels=labels, include_lowest=True)

#Group by Age Category
age_cat_group = df.groupby(["Age Category"])

#Create new data frame at Age Category, SN grain to aggregate purchase value by SN.
age_cat_sn_df = df.groupby(["Age Category","SN"]).agg({"Price":['sum']}).reset_index()
age_cat_sn_df.columns = ["Age Category","SN","Total Avg"]
age_cat_sn_df = age_cat_sn_df.set_index(["Age Category"])
age_cat_sn_df = age_cat_sn_df.dropna(subset=["Total Avg"])

#Create aggregate values at Age Category grain
age_cat_purchase_count = age_cat_group["Age Category"].count()
age_cat_average_purchase_price = age_cat_group["Price"].mean()
age_cat_total_purchase_value = age_cat_group["Price"].sum()
age_cat_average_purchase_per_person = age_cat_sn_df.groupby(["Age Category"])['Total Avg'].mean()

#Create Dataframe to generate results
age_cat_df = pd.DataFrame({"Purchase Count":age_cat_purchase_count,
                           "Average Purchase Price":["${:,.2f}".format(x) for x in age_cat_average_purchase_price],
                           "Total Purchase Price":["${:,.2f}".format(x) for x in age_cat_total_purchase_value],
                           "Avg Purchase Total Per Person":["${:,.2f}".format(x) for x in age_cat_average_purchase_per_person]
                           }
                            )
age_cat_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Purchase Total Per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10 to 14,28,$2.96,$82.78,$3.76
15 to 19,136,$3.04,$412.89,$3.86
20 to 24,365,$3.05,"$1,114.06",$4.32
25 to 29,101,$2.90,$293.00,$3.81
30 to 34,73,$2.93,$214.00,$4.12
35 to 39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [63]:
#Group by screen name
spender_group = df.groupby(["SN"])

#Create new data frame at spender data grain
spender_df = spender_group["Item ID"].count().reset_index()
spender_df = spender_df.set_index("SN")
spender_df = spender_df.rename(columns={"Item ID":"Purchase Count"})

#Add and format columns with aggregated values utilizing group by object spender_group
spender_df["Avg Purchase Price"] = spender_group["Price"].mean().map("${:,.2F}".format)
spender_df["Total Purchase Value"] = spender_group["Price"].sum()

#Sort new data frame by Total Purchase Value in descending order
spender_df = spender_df.sort_values(by=["Total Purchase Value"], ascending=False)

#Format Total Purchase value after sort.
spender_df["Total Purchase Value"] = spender_df["Total Purchase Value"].map("${:,.2F}".format)


spender_df.head(5)

             Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

In [55]:
item_group = df.groupby(["Item ID","Item Name"])
item_df = item_group["Price"].max().map("${:,.2f}".format).reset_index()
item_df = item_df.set_index(["Item ID", "Item Name"])
item_df["Purchase Count"] = item_group["Price"].count()
item_df["Total Purchase Value"] = item_group["Price"].sum()

#Create new data frame with items sorted by purchase count
item_by_purchase_count = item_df.sort_values(by=["Purchase Count"], ascending=False)

item_by_purchase_count["Total Purchase Value"] = item_by_purchase_count["Total Purchase Value"].map("${:,.2f}".format)


#Top 5 by purchase value
item_by_purchase_count.head(5)

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,$4.88,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
132,Persuasion,$3.33,9,$28.99
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77

##  Most Profitable Items

In [62]:
#Create new dataframe with profit sorted in descending order
item_by_profit_df = item_df.sort_values(by=["Total Purchase Value"], ascending=False)

#Format value after sort
item_by_profit_df["Total Purchase Value"] = item_by_profit_df["Total Purchase Value"].map("${:,.2f}".format)

#Top 5 items by profit
item_by_profit_df.head(5)

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,$4.88,13,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
103,Singed Scalpel,$4.35,8,$34.80